

h1 {
    color: lime;
    font-family: Papyrus;
    font-size: 240px;  
}
h2 {
   text-align: justify;
       font-family: Verdana
       font-size: 160px;
}
h3 {
    font-family: Bodoni;
    font-size: 200px;
}
h4 {
    font-family: BW Darius;
    color: lime
}
body {
    background-color: lime
}
p {
    font-family: Papyrus;
    font-size: 60px; 
}
b {
    font-family: Bodoni;
    font-size: 60px;
}
ul {
    color: lime;
}
ol {
    color: lime
}
blockquote {
    background-color: lime;
    padding: 60px;
    color: lime;
    font-family: Helvetica;
}
table, th, td {
      font-family: Vevey;
                border: 10px solid lime;}
            {
                background-color:lime
}
form {
    font-family: Bodoni;
}
