

h1 {
    color: aqua;
    font-family: Perla;
    font-size: 60px;  
}
h2 {
   text-align: justify;
       font-family: Perla;
       font-size: 40px;
}
h3 {
    font-family: Kilowatt;
    font-size: 50px;
}
h4 {
    font-family: Phosphate;
    color: lightyellow
}
body {
    background-color: fuchsia
}
p {
    font-family: Perla;
    font-size: 15px; 
}
b {
    font-family: Kilowatt;
    font-size: 15px;
}
ul {
    color: coral;
}
ol {
    color: blueviolet
}
blockquote {
    background-color: chartreuse;
    padding: 15px;
    color: lavenderblush;
    font-family: Blanch;
}
table, th, td {
      font-family: Vevey;
                border: 5px solid black;}
            {
                background-color:burlywood 
}
form {
    font-family: Kilowatt;
}
